/* *****************************global******************************* */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;1000&family=Lato:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
:root{
    --top_bg:#3f3e3e;
    --white_color:hsl(0, 0%, 100%);
    --top_font: hsl(0, 4%, 66%);
    --hrader_background:white;
    --brand_color:rgb(52, 153, 52);
    --stars_rating:rgb(255, 255, 78);
    --light_color:rgb(218, 218, 218);
    --footer_bg:rgb(203, 203, 203);
    --last_footer:rgb(133, 131, 131);
}
.continar{
    width: 70%;
    margin: auto;
}    
.float > * {
    float: left;
}
.float::after{
    content: "";
    display: block;
    clear: both;
}
body{
    height: 5000px;
}
a{
    text-decoration: none;
    color: inherit;
}
/* ***************************end global style************************************* */
/* *****************************start top style*************************************************** */
.top{
    background-color: var(--top_bg);
    color: var(--top_font);
    padding: 10px;
}
.top .mail , .phone ,.left{
    float: left;
    
    margin:0 5px; 
    font-size: 0.9rem;
}
.top .right{
    float: right;

}
.top .right i{
    padding: 3px;
}
/* **********************start nav style*********************** */
nav{
    background-color: var(--hrader_background);
}
nav .left img{
    width: 100px;
}
nav .center{
    width: 60%;
    margin: 10px 35px;
    font-size: 0.9rem;
    font-weight:bolder;
}
nav .center ul li{
    list-style: none;
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 20px;

    
}
nav .center ul li a{
    text-decoration: none;
    color: var(--top_font);
}
nav .right{
    margin: 40px;
}
nav .right i {
    margin-left: 15px;
    position: relative;
}

span.counter {
    position: absolute;
    top: -11px;
    right: -18px;
    margin: 1px;
    background: var(--hrader_background);
    border-radius: 8px;
    padding: 3px;
    font-size: 0.7rem;
    font-weight: 800;
    width: 23px;
    text-align: center;
}
/* ****************************header part**************************** */
header {
    background-color: var(--light_color);
    max-height: calc(100vh - 145px);
}

header .left,
header .right {
    width: 50%;
}

header .right img {
    max-width: 100%;
}














